.workedHoursMonth {
    border-radius: 10px;
    min-width: 10rem;
    padding: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    margin: 10px;
    background-color: #1ec764; 
}

.workedHoursWeek {
    border-radius: 10px;
    min-width: 10rem;
    padding: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    margin: 10px;
    background-color: #591ec7;
    
}
